extends layout

block content
  h1= title
    - var results = [{"Age":"25", "colour":"Baby Pink","weight":62},{"Age":"24","colour":"Pink","weight":62},{"Age":"23","colour":"Peach","weight":62}]
       div(class="container-fluid")
         div(class="row")
            each x,y in results
              div(class="col-sm-2" onClick=`buy(${y})`)
                p #{x.Age}
                p #{x.colour}
                p #{value.weight}
                


          
                script.
                     function  buy(z){

                        alert(`You purchased item ${z+1}.`)

                     }